@page "/SubForum"
@using Contracts
@using Entities.Models
@inject NavigationManager navMgr
@inject ISubForum subForumService;
@inject UserServiceImpl userServiceImp;
@inject User  user;
<AuthorizeView>

    <Authorized>
        <div class="card">
            <h3> Hello , @context.User.Identity.Name</h3>
        </div>
    </Authorized>
    <NotAuthorized>


        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-xs-12">
                    <div class="well well-sm well-social-post">
                        <form>
                            <ul class="list-inline" id='list_PostActions'>
                                <li class='active'><textarea @bind="title" placeholder="Title"></textarea></li>
                            </ul>

                            <textarea class="form-control" @bind="description" placeholder="What's in your mind for Description?"></textarea>
                            <ul class='list-inline post-actions'>

                                <li class='pull-right'  @onclick="createPost" class='btn btn-primary btn-xs'> Post</li>
                            </ul>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg  " @onclick="ClickToSeeTitles"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; ">Click to the Titles</button>
            </div>
             @if (showModal)
                            {
                                <Modal>
                                    <p>You have successfully added a new post item. You should be very proud of yourself</p>
                                    <button @onclick="@Proceed">Wonderful</button>
                                </Modal>
                            }
        </div>
       

      
    </NotAuthorized>

</AuthorizeView>


@code {
    public  string? title;
    public  string? description;
 
    private bool showModal;
    public async Task createPost()
    {
       
     
        Console.WriteLine();
        Console.WriteLine(description);
        SubForum subForum = new SubForum();
        subForum.description = description;
        subForum.title = title;
        Console.WriteLine(userServiceImp.currentUser);
        await subForumService.CreateAPost(title,description);
        showModal = true;
    }


    private void ClickToSeeTitles()
    {
        showModal = false;
        navMgr.NavigateTo("/Titles");
    }
    private void Proceed()
    {
     
         
    }
}