@page "/Titles"
@using Contracts
 
@inject ISubForum iSubForum
@inject NavigationManager navMgr;
@inject SubForum subForum
@if (alltitles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}

else
{
    

    if (!alltitles.Any())
    {
        <p>
            <em> No forums created yet...</em>
        </p>
    }
    else
    {
        <h4 >Welcome to see the Posts</h4>
        <div class="container mt-100">
            <div class="row">
                @foreach (Assigntment1.models.SubForum subForum in alltitles)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-30 body">
                            <div class="card-body text-center">
                                <h4 class="card-title" > <a href="ViewEntirePost/@subForum.Guid">@subForum.Title</a> </h4>
                                   <p> </p>                     
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

@code {

    private List<Assigntment1.models.SubForum>? alltitles;

    protected override async void OnInitialized()
    {
        alltitles = await iSubForum.GetAllTitlesAsync();
    }
    
    

    
}}