@page "/Titles"

<AuthorizeView>

    <Authorized>
        <div class="card">
            <h3> Hello , @context.User.Identity.Name</h3>
        </div>
    </Authorized>
    
    <NotAuthorized>
    </NotAuthorized>

</AuthorizeView>

@code {
    
}