@page "/ViewEntirePost/{GuidId}"
@using Contracts
@using Assigntment1.models
@inject ISubForum iSubForum
@inject NavigationManager navMgr;
@inject SubForum subForum


@code {
   
    [Parameter]
    public string? GuidId { get; set; }
    
    // public async Task<Assigntment1.models.SubForum> getPost(String GuidId)
    // {
    //     Guid myGuid = Guid.Parse(GuidId);
    //     return await iSubForum.GetPostById(myGuid);
    // }

    private Assigntment1.models.SubForum model;
    
    protected override async void OnInitialized()
    {
        Guid myGuid = Guid.Parse(GuidId);
        model =  await iSubForum.GetPostById(myGuid);
    }
}

<h3>ViewEntirePost</h3>
 

<div class="col-md-4 col-sm-6">
    <div class="card mb-30 body">
        <div class="card-body text-center">
            <h4 class="card-title">@model.Title</h4>
            <p>@model.Description</p>
        </div>
    </div>
</div>