@page "/ViewEntirePost/{GuidId}"
@using Contracts
@using Assigntment1.models
@inject ISubForum iSubForum
@inject NavigationManager navMgr
@inject SubForum subForum

<h3>ViewEntirePost</h3>
 @* if u dont set model != null, so in compiler you will get an object refrence cannot be set to null... *@
@if(model != null ){
    <div class="col-md-4 col-sm-6">
        <div class="card mb-30 body">
            <div class="card-body text-center">
                <h4 class="card-title">@model.Title</h4>
                <p>@model.Description</p>
            </div>
        </div>
    </div>
} 

@code {
   
    [Parameter]
    public string? GuidId { get; set; }
    
    
    private SubForum? model;
    
    protected override async void OnInitialized()
    {
        Guid myGuid = Guid.Parse(GuidId);
        model =  await iSubForum.GetPostById(myGuid);
    }
}

